.person
    .info
        h3= person.name
        if person.regional
            h4= person.title +", " + person.where + " | "
                a(href="mailto:"+person.email)=person.email
        else
            h4= person.title + " | " 
                a(href="mailto:"+person.email)=person.email

    img(src="/img/team/"+person.image)
    .bio
        p
            !{person.content}


