---
layout: default
---

#content.events
    .box.white.head
        .wrap
            h3 Upcoming Events <a class="small" href="http://eepurl.com/JhjCv">Subscribe and we'll let you know when we announce new locations ></a>

    each post in getCollection('documents').findAll({relativeOutDirPath: 'events', date: {'$gt': new Date()}}, [{date: 1}]).toJSON()
        - var bg = "background-image: url('/img/"+post.image+"')"
        .box.white.event(style=bg)
            .wrap
                h4= post.occurs
                h2: a(href=post.link)= post.title
    .box.white.head
        .wrap
            h3 Past Events
    each post in getCollection('documents').findAll({relativeOutDirPath: 'events', date: {'$lt': new Date()}}).toJSON()
        - var bg = "background-image: url('/img/"+post.image+"')"
        .box.white.event(style=bg)
            .wrap
                h4= post.occurs
                h2: a(href=post.link)= post.title

    .box
        .wrap
            .content
                h3 Don't see an event near you? 
                p If you'd like to host an event <a href="mailto:fly@gopilot.org">fill out this application</a> and we'll help you bring an event to your area. 
                p You should also <a href="http://eepurl.com/JhjCv">subscribe to our notification list</a>, and we'll send you an email when we announce new locations.

